{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Manage Teams{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('manage_players') }}">Manage Players</a>
    <a class="action" href="{{ url_for('manage_teams') }}">Manage Teams</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for team in teams %}
    <h2>Team {{ team.id }}</h2>
    <h4>Players:</h4>
    <ul>
      {% for player in team.players %}
        <li>{{ player.nickname|e }} | Rank: {{ player.rank|e }} | Bedwars level: {{ player.bedwarsLevel|e }} stars</li>
      {% endfor %}
    </ul>
    <h4>Color:</h4>
    <select name="color-{{ team.id }}">
      {% for color in colors %}
        <option {% if color == team.color %}selected{% endif %}>{{ color|e }}</option>
      {% endfor %}
    </select>
    <h4>Score:</h4>
    <input type="number" name="score-{{ team.id }}" value="{{ team.score|e }}">
    <hr>
  {% endfor %}
  <input type="submit" value="Update teams">
{% endblock %}
