{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Manage Teams{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('manage_players') }}">Manage Players</a>
    <a class="action" href="{{ url_for('manage_teams') }}">Manage Teams</a>
  {% endif %}
{% endblock %}

{% block content %}
<script>
function dragstartHandler(ev) { ev.dataTransfer.setData("text", ev.target.id); }
function dragoverHandler(ev) {
  // Add indication here?
  ev.preventDefault();
}

function dropHandler(ev) {
  ev.preventDefault();
  const data = ev.dataTransfer.getData("text");
  const element = document.getElementById(data);
  var target = ev.target;
  while (target && !target.classList.contains('dropzone')) target = target.parentElement;
  target.appendChild(element.cloneNode(true));
  element.remove();
}
</script>

  {% macro player_item(player) -%}
    <li draggable="true" ondragstart="dragstartHandler(event)" id="player__{{ player["displayname"]|e }}">{{ player["displayname"]|e }} | Rank: {{ player["rank"]["cleanName"]|e }} | Bedwars level: {{ player["bedwarsLevel"]["level"]|e }} stars</li>
  {%- endmacro %}

  <h2>All players signed up</h2>
  <ul class="dropzone" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
    {% for player in players %}
      {% set ns = namespace(found = false) %}
      {% for teamPlayers in teams | map(attribute="players") %}
        {% if teamPlayers | map(attribute = "nickname") | map("lower") | select("==", player["displayname"].lower()) | list | length > 0 %}
          {% set ns.found = true %}
        {% endif %}
      {% endfor %}
      {% if not ns.found %}
        {{ player_item(player) }}
      {% endif %}
    {% endfor %}
  </ul>
  <hr>
  {% for team in teams %}
    <h2>Team {{ loop.index }}</h2>
    <ul class="dropzone" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
      {% for player in players %}
        {% if team.players | map(attribute = "nickname") | map("lower") | select("==", player["displayname"].lower()) | list | length > 0 %}
          {{ player_item(player) }}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
