<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esports Overlay</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_overlay.css') }}">
</head>
<body class="usertype--{{ user_type|e }}">
{% if user_type and teams %}
  <div class="overlay-container">
    <div class="opacity-container top-banner small">
      <small>Powered by <b>VDO.Ninja</b> | Sponsored by <b>Atrioxhosting</b></small>
    </div>
    <div class="opacity-container top-banner">
      Orbic Bedwars E-Sports Tournament
    </div>

    {% if user_type == "player" %}
      {% if player %}
        <div class="opacity-container player-container">
          <img class="player-avatar" src="https://minotar.net/helm/{{ player.nickname|e }}/32.png" alt="Player Avatar">
          <div class="player-name">{{ player.nickname|e }}</div>

          <div class="team team-{{ player.team.color|e }}">
            <div class="team-name">Team {{ player.team.id|e }}</div>
          </div>
        </div>
      {% endif %}
    {% elif user_type == "camera" %}
      <div class="team-container">
        {% for team in teams %}
          <div class="team opacity-container team-{{ team.color|e }}">
            <span class="team-name">Team {{ team.id|e }}</span>
            <span class="team-score">{{ team.score|e }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
</body>
</html>
